In [2]:
# this is a comment 1

In [3]:
# This is a comment 2

# This is a Heading

### This is a sub definition

In [5]:
a,b = 10,70
print(a+b)

80

In [6]:
m = "Welcome to python"
print(m)
print(type(m))

Welcome to python
<class 'str'>

In [7]:
a=67
a

67

In [8]:
b = 8+7j
print(type(b))

<class 'complex'>

In [9]:
# used to give comments

In [12]:
# Data Types
a = 56
b = 798.67
c = "hello"
d = True
e = 14+7j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [15]:
a=89.0
print(a)

89.0

### Types of Operators

In [16]:
# Arithmetic Operators 
a = 5
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(a%b)

7
3
10
2.5
25
2
1

In [8]:
print(abs(-375.798))

375.798

In [ ]:
print(abs())

In [18]:
# Assignment Operators
a = 7
b = 10
print(a)
print(b)
b += a   # (b = b+a)
print(b)
print(a)

7
10
17
7

In [19]:
# Relational Operator
a,b =  20,30
print(a>b)  # F
print(a<b)  # T
print(a>=b) # F
print(a<=b) # T
print(a!=b) # T
print(a==b) # F

False
True
False
True
True
False

In [25]:
# Membership operators - in,not in - returns True or false

a = 'America is the most powerful country.'
print('mos' in a)
print('Power' in a)
print('ntry.' in a)
print('hello' not in a)
print('the' not in a)

True
False
True
True
False

In [20]:
# Logical opertors - and, or, not

a,b,c = 10,15,20
print(a>b and c>b) #F
print(a<b and a>c) #F
print(a>b or c>b)  #T

False
False
True

In [32]:
cat = 67
print(cat)

67

In [26]:
# Rules of naming a variable

#1) Cannot start with numbers and special characters.
#2) Should start with a-z or _ or A-Z or any word.
#3) Cannot start with python keywords.
#4) Cannot contain special characters in between.

In [27]:
_xyyz =56
print(_xyyz)

56

In [28]:
A^^^(bcd =809
print(A^^^(bcd)

SyntaxError: invalid syntax (<ipython-input-28-c4164c075b07>, line 1)

In [6]:
print("Hello world")

Hello world

In [30]:
# Method 1,  f-formatting
name = "Kartik"
age = 22
role = "Data Analyst"
print(f"{name} aged {age} wants to be a {role}.")

Kartik aged 22 wants to be a Data Analyst.

In [31]:
# Method 2
name ="Vibhuti"
print('Her name is',name)
print(name,'is my name.')

Her name is Vibhuti
Vibhuti is my name.

In [32]:
# Method 3
print('{} aged {} wants to be a {}'.format(name,age,role))

Vibhuti aged 22 wants to be a Data Analyst

In [35]:
print('{1} aged {2} wants to be a {0}.'.format(role,name,age))

Vibhuti aged 22 wants to be a Data Analyst.

In [36]:
print('{q} aged {r} wants to be a {p}.'.format(p=role,r=age,q=name))

Vibhuti aged 22 wants to be a Data Analyst.

In [43]:
# typecast
text = float(input("Enter some float number"))
print(text)

Enter some float number245
245.0