<b>Topics</b>
<ul>
<li>Strings</li>
<li>String Propertis/methods</li>
</ul>

In [1]:
name = "Mariana Trench"
print(len(name))

14

## Indexing

In [2]:
print(name[0])
print(name[2])
print(name[7])

M
r

In [3]:
print(name[-1])
print(name[-5])

h
r

### Slicing

In [4]:
print(name)

Mariana Trench

In [5]:
print(name[3:9])
print(name[10:])
print(name[:7])
print(name[:-3])
print(name[-5:])
print(name[:])
print(name)

iana T
ench
Mariana
Mariana Tre
rench
Mariana Trench
Mariana Trench

In [6]:
name = 'Mariana Trench'
print(name)

Mariana Trench

In [8]:
name[3:9]

'iana T'

In [9]:
name[-3:5]

''

In [10]:
name[2:10]

'riana Tr'

In [11]:
name

'Mariana Trench'

In [12]:
print(name[3:14])

iana Trench

In [17]:
# Reverse a string
print(name[::-1])

hcnerT anairaM

In [18]:
print(name[::-2])
print(name)

hnr nia
Mariana Trench

In [20]:
print(name[2:-4:2])

raaT

In [21]:
print(name)
print(name[-6:3:-2])

Mariana Trench
Taa

In [22]:
print(name[3:-5:2])

in

In [29]:
t = "India is Heaven"

In [30]:
t[-3:-12:-2]

've ia'

In [28]:
name[-3:-12:-2]

'nr ni'

In [24]:
name[3:10:-2]

''

In [26]:
print(name[-3:-12])
print(name[-2:-13:-3])

crai

### String properties

In [31]:
s1 = "Working on Python"
s2 = "3234986"
s3 = "abc@gmail.com"
s4 = "banking"
s5 = "defk1234"

In [34]:
s1

'Working on Python'

In [ ]:
# Hands on Jupyter
#1) Click on tab after applying dot to check for all the functions that could be applied to a varible
#2) Clik on Shift + Tab inside the () of a function to check its deinition.

In [71]:
print(s1.upper())  # WORKING ON PYTHON
print(s1.capitalize()) # Working on python
print(s1.title())   # Working On Python

print(s1.lower()) 
print(s1.swapcase())

WORKING ON PYTHON
Working on python
Working On Python
working on python
wORKING ON pYTHON

In [35]:
print(s1.isupper())
print(s1.islower())
print(s5.isalnum())
print(s4.isalpha())
print(s2.isdigit())
print(s3.isalnum())

False
False
True
True
True
False

In [36]:
print(s2)
print(s5)

3234986
defk1234

In [37]:
print(s2.isnumeric())
print(s5.isalnum())

True
True

In [42]:
s6 = "    "
print(s6.isspace())

True

In [21]:
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

Working on Python
3234986
abc@gmail.com
banking
defk1234

In [61]:
print(s1.startswith('Wor'))
print(s1.endswith('Pyt'))
print(s1.find('on'))
print(s1.index('Python'))
print(s1)

True
False
8
11
Working on Python

In [45]:
print(s1)

Working on Python

In [69]:
s7 = "   Hel lo       "
print(s7.lstrip()) # removes extra space from left
print(s7.rstrip()) # removes extra space from right
print(s7.strip())  # removes extra space from left and right

Hel lo
   Hel lo
Hel lo

In [71]:
d1 = "Donald Trump "
print(d1*5)

Donald Trump Donald Trump Donald Trump Donald Trump Donald Trump

In [73]:
# String concatenation - adding string
a = "Pollution level"
b = "hits all time high"
c = "in Delhi post Diwali."
print(a+" "+b+" "+c)

Pollution level hits all time high in Delhi post Diwali.

In [104]:
# ord() gives ASCII value of an any character/spcl character/
print(ord('i'))
print(ord('~'))
print(chr(65))
print(chr(118))
print(chr(360))

105
126
A
v
Å¨

In [75]:
text = "Tesla plans to colonize Mars by 2024"
print(text)

Tesla plans to colonize Mars by 2024

In [76]:
## Updating a string - throws an error .Conclusion :- Strings are immutatble(ie. can't be changed)
text[4] ='h'
print(text)

TypeError: 'str' object does not support item assignment

In [78]:
# Deleting a string
text

'Tesla plans to colonize Mars by 2024'

In [79]:
del text
print(text)

NameError: name 'text' is not defined

In [81]:
# String replace
t1 = "Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory."
t1

'Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory.'

In [82]:
t1.replace('won','lost')

'Sheldon Cooper lost the nobel prize in the last Season of the Big Bang Theory.'

In [83]:
print(t1)

Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory.

In [45]:
t1

'Sheldon Cooper won the nobel prize in the Season of the Big Bang Theory.'

In [84]:
# String split - It returns a list
t2 = "Messi is light years ahead of Ronaldo."
t2

'Messi is light years ahead of Ronaldo.'

In [85]:
t2[0]

'M'

In [ ]:
# list = []
# tuple = ()
# dict = {}
# set = {}

In [87]:
n = 476587
print(type(n))
print(n)

<class 'int'>
476587

In [70]:
t2

'Messi is light years ahead of Ronaldo.'

In [90]:
t3 = t2.split()
print(t3)
print(type(t3))

['Messi', 'is', 'light', 'years', 'ahead', 'of', 'Ronaldo.']
<class 'list'>

In [91]:
print(t3[0])
print(t3[2])
print(t3[-1])
print(t3[2:6])

Messi
light
Ronaldo.
['light', 'years', 'ahead', 'of']

In [93]:
t3[0][0]

'M'

In [94]:
t3[4]

'ahead'

In [95]:
t3[3][2]

'a'

In [96]:
t3[2][3]

'h'

In [86]:
t1

'Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory.'

In [99]:
# count - counts the occurence of a given character or a group of characters in a string
print(t1.count('on'))
print(t1.count('n th'))
print(t1.count('nobel'))

3
2
1

In [82]:
t1

'Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory.'

In [106]:
# Index - returns index starting from 0
print(t1.index('nob'))
print(t1.index('w',17,60))
print(t1.index('hello'))

23

ValueError: substring not found

In [102]:
# Find - returns index starting from 0. Used to find substring in a string.
print(t1.find('p'))
print(t1.find('Bang Theory'))
print(t1.find('Seas'))
print(t1.find('the',13,34))
print(t1.find('america'))

11
65
47
19
-1