### Dictionary

In [1]:
# Definition
#1) It holds key-value pairs.
#2) They are enclosed in {}.
#3) All the keys in a dictionary must be unique.
#4) Empty dictionary is defined as follows:
#a) d1 = {} 
#b) d2 = dict()

In [6]:
d =  {}   #dict()
print(type(d))
print(d)

<class 'dict'>
{}

In [7]:
d1 = {'k1':102,'k2':34,'k3':51,'k4':987}
len(d1)

4

In [8]:
print(d1)

{'k1': 102, 'k2': 34, 'k3': 51, 'k4': 987}

In [10]:
# Indexing doesn't work on dictionary
d1[2]

KeyError: 2

In [11]:
dir(d1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### Fetching values from thier keys

In [13]:
# Method 1
print(d1)
print(d1['k1'])
print(d1['k2'])
print(d1['k3'])
print(d1['k4'])

{'k1': 102, 'k2': 34, 'k3': 51, 'k4': 987}
102
34
51
987

In [14]:
# Method 2
print(d1.get('k1'))
print(d1.get('k4'))
print(d1.get('k3'))

102
987
51

In [15]:
print(d1)

{'k1': 102, 'k2': 34, 'k3': 51, 'k4': 987}

In [16]:
# Changing value for a given key in a dict
d1['k2'] = 908
d1['k3'] = 79
print(d1)

{'k1': 102, 'k2': 908, 'k3': 79, 'k4': 987}

In [32]:
d2 = {'a':11,'b':12,'c':13,'d':14,'e':15}
d2['c']

13

### Insertion

In [33]:
# Inserting a key- value pair to a dictionary
print(d2)
d2['f']=28
d2['g'] ='hello'
print(d2)

{'a': 11, 'b': 12, 'c': 13, 'd': 14, 'e': 15}
{'a': 11, 'b': 12, 'c': 13, 'd': 14, 'e': 15, 'f': 28, 'g': 'hello'}

In [34]:
d2['d']=16
print(d2)

{'a': 11, 'b': 12, 'c': 13, 'd': 16, 'e': 15, 'f': 28, 'g': 'hello'}

In [35]:
d2['h']=16
print(d2)

{'a': 11, 'b': 12, 'c': 13, 'd': 16, 'e': 15, 'f': 28, 'g': 'hello', 'h': 16}

### copy() and clear()

In [36]:
d3 = d2.copy()

In [37]:
print(d2)
print(d3)

{'a': 11, 'b': 12, 'c': 13, 'd': 16, 'e': 15, 'f': 28, 'g': 'hello', 'h': 16}
{'a': 11, 'b': 12, 'c': 13, 'd': 16, 'e': 15, 'f': 28, 'g': 'hello', 'h': 16}

In [38]:
d2.clear()
print(d2)
print(d3)

{}
{'a': 11, 'b': 12, 'c': 13, 'd': 16, 'e': 15, 'f': 28, 'g': 'hello', 'h': 16}

### pop() - removes key-value pair from the dictionary given a key as its argument

In [39]:
d3

{'a': 11, 'b': 12, 'c': 13, 'd': 16, 'e': 15, 'f': 28, 'g': 'hello', 'h': 16}

In [40]:
d3.pop('c')

13

In [41]:
print(d3)

{'a': 11, 'b': 12, 'd': 16, 'e': 15, 'f': 28, 'g': 'hello', 'h': 16}

In [42]:
# Deleting a value not in the dictionary gives an error
d3.pop('i')
print(d3)

KeyError: 'i'

In [43]:
d3.pop()
print(d3)

TypeError: pop expected at least 1 arguments, got 0

In [27]:
d3.pop()

TypeError: pop expected at least 1 arguments, got 0

### update() - combines two diferent dictionaries

In [44]:
dict1 = {'a': 51, 'b': 52, 'c': 'Japan'}
dict2 = {'p': 768, 'q':769, 'r':-45.90,'s':123}
print(dict1)
print(dict2)
dict1.update(dict2)
print(dict1)
print(dict2)

{'a': 51, 'b': 52, 'c': 'Japan'}
{'p': 768, 'q': 769, 'r': -45.9, 's': 123}
{'a': 51, 'b': 52, 'c': 'Japan', 'p': 768, 'q': 769, 'r': -45.9, 's': 123}
{'p': 768, 'q': 769, 'r': -45.9, 's': 123}

### dict.fromkeys() - Create a new dictionary with keys from iterable and values set to value.

In [65]:
s1 = {'a','e','o','i','u'}
s2 = [1,2]
result = dict.fromkeys(s1,s2)
print(result)

{'a': [1, 2], 'e': [1, 2], 'u': [1, 2], 'i': [1, 2], 'o': [1, 2]}

In [67]:
keys = ['a', 'e', 'i', 'o', 'u']
vowels = dict.fromkeys(keys)
print(vowels)

{'a': None, 'e': None, 'i': None, 'o': None, 'u': None}

In [68]:
a1 = ['a','b','c','d','e']
a2 = [23,34,45,56,67]
a3 = dict.fromkeys(a1, a2)
print(a3)

{'a': [23, 34, 45, 56, 67], 'b': [23, 34, 45, 56, 67], 'c': [23, 34, 45, 56, 67], 'd': [23, 34, 45, 56, 67], 'e': [23, 34, 45, 56, 67]}

### popitem() - removes last key-value pair from the dictionary

In [70]:
print(d3)
print(d3.popitem()) 
print(d3)

{'a': 11, 'b': 12, 'd': 16, 'e': 15, 'f': 28, 'g': 'hello'}
('g', 'hello')
{'a': 11, 'b': 12, 'd': 16, 'e': 15, 'f': 28}

### setdefault() - inserts a new key with default value as 'None'. if key exists then there is no change in the dictionary

In [72]:
d3 = {'a': 11, 'b': 12, 'c': 13, 'd': 14, 'e': 15, 'f': 28}
d3.setdefault('n')
print(d3)
d3['n']= 45
print(d3)

{'a': 11, 'b': 12, 'c': 13, 'd': 14, 'e': 15, 'f': 28, 'n': None}
{'a': 11, 'b': 12, 'c': 13, 'd': 14, 'e': 15, 'f': 28, 'n': 45}

In [73]:
d3.setdefault('m')
print(d3)

{'a': 11, 'b': 12, 'c': 13, 'd': 14, 'e': 15, 'f': 28, 'n': 45, 'm': None}

In [74]:
d3.setdefault('c')
print(d3)

{'a': 11, 'b': 12, 'c': 13, 'd': 14, 'e': 15, 'f': 28, 'n': 45, 'm': None}

### Iteration

In [76]:
# Keys
print(d3)
for i in d3.keys():
    print(i)

{'a': 11, 'b': 12, 'c': 13, 'd': 14, 'e': 15, 'f': 28, 'n': 45, 'm': None}
a
b
c
d
e
f
n
m

In [78]:
for i in d3:
    print(i,d3[i])

a 11
b 12
c 13
d 14
e 15
f 28
n 45
m None

In [79]:
# Values
for i in d3.values():
    print(i)

11
12
13
14
15
28
45
None

In [83]:
for i,j in d3.items():
    print(i,j)

a 11
b 12
c 13
d 14
e 15
f 28
n 45
m None

In [84]:
# Items
for v in d3.items():
    print(v)

('a', 11)
('b', 12)
('c', 13)
('d', 14)
('e', 15)
('f', 28)
('n', 45)
('m', None)

### Dictionary comprehension

In [86]:
l = [x for x in range(5)] 
print(l)
print(type(l))

[0, 1, 2, 3, 4]
<class 'list'>

In [87]:
l = {x for x in range(5)} 
print(l)
print(type(l))

{0, 1, 2, 3, 4}
<class 'set'>

In [89]:
myDict = {x: x**2 for x in range(1,6)} 
print(myDict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [91]:
d1 = {x: x.upper() for x in 'coding'} 
print(d1)

{'c': 'C', 'o': 'O', 'd': 'D', 'i': 'I', 'n': 'N', 'g': 'G'}

In [92]:
newdict = {x:x**3 for x in range(10) if x%3==0} 
print(newdict)

{0: 0, 3: 27, 6: 216, 9: 729}

In [106]:
r1 ={'k2':34,'k3':[1,2,3,4,5,{'a1':35,'a2':67,'a3':{'weights':[23,45,67,89,123],'Mark':78}}],'k4':987,'k5':560}

In [107]:
r1['k3'][2:5:2]

[3, 5]

In [109]:
r1['k3']

[1,
 2,
 3,
 4,
 5,
 {'a1': 35, 'a2': 67, 'a3': {'weights': [23, 45, 67, 89, 123], 'Mark': 78}}]

In [110]:
print(r1['k3'][1:3])
print(r1['k3'][1:5:2])

[2, 3]
[2, 4]

In [111]:
print(r1['k3'][5])

{'a1': 35, 'a2': 67, 'a3': {'weights': [23, 45, 67, 89, 123], 'Mark': 78}}

In [112]:
print(r1['k3'][5]['a3'])

{'weights': [23, 45, 67, 89, 123], 'Mark': 78}

In [113]:
print(r1['k3'][5]['a3']['Mark'])

78

In [115]:
r1['k3'][5]['a3']['weights'][2:5:2]

[67, 123]

In [116]:
r1['k3'][5]['a3']

{'weights': [23, 45, 67, 89, 123], 'Mark': 78}

In [72]:
r1['k3'][5]['a3']['weights']

[23, 45, 67, 89, 123]

In [20]:
r1['k3'][5]['a3']['weights'][2::2]

[67, 123]

In [21]:
r1['k3'][5]['a3']['weights'][:3]

[23, 45, 67]

In [23]:
d1 = {'k1':102,'k2':34,'k3':51,'k4':987}
print(d1)

{'k1': 102, 'k2': 34, 'k3': 51, 'k4': 987}

In [25]:
d1['k1']=45
print(d1)

{'k1': 45, 'k2': 34, 'k3': 51, 'k4': 987}

In [93]:
ls1 =[12,24,35,24,78,35,12,78,78,24,78,12,12]
len(ls1)

13

In [148]:
d = {}
for i in range(len(ls1)):  # 0-12
    if ls1[i] not in d.keys():
        d[ls1[i]] = 1
    else:
        d[ls1[i]] +=1
print(d)

{12: 4, 24: 3, 35: 2, 78: 4}

In [150]:
len(d)

4

In [102]:
d={'a':100,'b':350,'c':450}
keys = list(d.keys())
values = list(d.values())
print(keys)
print(values)

['a', 'b', 'c']
[100, 350, 450]

In [104]:
print(values.index(100))
print(keys[values.index(100)])

0
a

In [101]:
# WAF to calculate key corresponding to a value
def find_key(val): 
    d={'a':100,'b':350,'c':450}
    for key, value in d.items(): 
         if val == value: 
            print(key)

In [99]:
find_key(450)

c

In [100]:
d={'a':100,'b':350,'c':450}
for i,j in d.items():
    print(i,j)

a 100
b 350
c 450