In [38]:
import pandas as pd
import numpy as np

### Series

<p> One-dimensional labeled array that can hold data of any type. It is equivalent to a single column</p>

### Creating Series

In [40]:
# Creating Series from numpy array without index
n1 = np.array(['a','b','c','d','e'])
s1 = pd.Series(n1)
print(s1)
print(type(s1))

0    a
1    b
2    c
3    d
4    e
dtype: object
<class 'pandas.core.series.Series'>

In [13]:
index_list = s1.index.tolist() 
print(index_list)
print(s1.values.tolist())

[0, 1, 2, 3, 4]
['a', 'b', 'c', 'd', 'e']

In [41]:
# Creating a series from list/tuple
l1 = [11,12,13,14,15,16,17]
s1  = pd.Series(l1)
print(s1)
print(type(s1))
print(len(s1))  #7

0    11
1    12
2    13
3    14
4    15
5    16
6    17
dtype: int64
<class 'pandas.core.series.Series'>
7

In [45]:
# list(range(1,5))

In [44]:
# Create a series from array with index: 
data = np.array(['a','b','c','d','e','f'])
s2 = pd.Series(data,index=list(range(1000,1006)))
print(s2)

1000    a
1001    b
1002    c
1003    d
1004    e
1005    f
dtype: object

In [46]:
print(s2[1002])

c

In [47]:
# Creating series from file data
df = pd.read_excel("global_store.xlsx")  
print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

,Row ID,Order ID,Order Date,Segment,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,1,MX-2015-SC2057582-42279,2015-10-02,Consumer,Central America,Office Supplies,Labels,13.08,3,0.0,4.56,2.033,Medium
1,2,MX-2013-KW1657028-41562,2013-10-15,Consumer,South America,Furniture,Furnishings,252.16,8,0.0,90.72,13.449,Medium
2,3,MX-2013-KW1657028-41562,2013-10-15,Consumer,South America,Furniture,Bookcases,193.28,2,0.0,54.08,9.627,Medium
3,4,MX-2013-KW1657028-41562,2013-10-15,Consumer,South America,Office Supplies,Binders,35.44,4,0.0,4.96,1.371,Medium
4,5,MX-2013-KW1657028-41562,2013-10-15,Consumer,South America,Office Supplies,Art,71.60,2,0.0,11.44,3.787,Medium

In [24]:
type(df)

pandas.core.frame.DataFrame

In [48]:
# df.Segment
# or
type(df['Category'])

pandas.core.series.Series

In [49]:
s3 = pd.Series(df['Category']) 
s3.head(7)

0    Office Supplies
1          Furniture
2          Furniture
3    Office Supplies
4    Office Supplies
5    Office Supplies
6    Office Supplies
Name: Category, dtype: object

In [51]:
# Create a series from single value
# s4 = pd.Series(45, index=[0, 1, 2, 3])
s4 = pd.Series([7,1,11,12],index=[0, 1, 2, 3])
print(s4)

0     7
1     1
2    11
3    12
dtype: int64

### Access the elements of a Series

In [52]:
# data = np.array(['a','b','c','d','e','f'])
data = ['a','b','c','d','e','f']
s = pd.Series(data)
s

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [53]:
s[0]

'a'

In [54]:
s[:3]

0    a
1    b
2    c
dtype: object

In [55]:
print(s[-3:])

3    d
4    e
5    f
dtype: object

In [56]:
l1 = [11,12,13,14,15,16,17]
s1  = pd.Series(l1)
print(s1)

0    11
1    12
2    13
3    14
4    15
5    16
6    17
dtype: int64

In [57]:
s1[3]

14

In [58]:
s1[2:7:2]

2    13
4    15
6    17
dtype: int64

In [59]:
s1.head()

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [60]:
s1.tail()

2    13
3    14
4    15
5    16
6    17
dtype: int64

In [62]:
s1.sample()

0    11
dtype: int64

In [63]:
s2 = pd.Series([21,22,45,24,25], index =['A','B','C','D','E'])
print(s2)
print(type(s2))

A    21
B    22
C    45
D    24
E    25
dtype: int64
<class 'pandas.core.series.Series'>

In [66]:
print(s2['A'])
print(s2[0])
print(s2['B'])
print(s2[4])

21
21
22
25

In [67]:
print(s2['D'])
print(s2[4])

24
25

In [68]:
s3 = pd.Series([21,22,23,24,25])

In [69]:
s3.index=[201,202,203,204,205]

In [70]:
s3

201    21
202    22
203    23
204    24
205    25
dtype: int64

In [73]:
print(s3[202])
print(s3[203])
print(s3[0])

22
23

KeyError: 0

In [76]:
# Retrieve multiple index values
print(s3[204])
print('-------')
print(s3[[203,204,205]])

24
-------
203    23
204    24
205    25
dtype: int64

In [77]:
s4 = s3.index.tolist()
s4

[201, 202, 203, 204, 205]

### Series Operations/Functions

In [80]:
d1 = pd.Series([52,27,59,10,27,32], index=['a', 'b', 'c', 'd','e','f'])
print(d1)

a    52
b    27
c    59
d    10
e    27
f    32
dtype: int64

In [111]:
print(d1.mean()) # 35
print(d1.sum()) # 207
print(d1.median()) # 29.5
print(d1.cumsum()) # cumulative sum
print(d1.count()) # counts total number of elements
print(d1.cumprod()) # cumulative product

34.5
207
29.5
a     52
b     79
c    138
d    148
e    175
f    207
dtype: int64
6
a           52
b         1404
c        82836
d       828360
e     22365720
f    715703040
dtype: int64

In [42]:
print(d1)
print(type(d1))

a    52
b    27
c    59
d    10
e    27
f    32
dtype: int64
<class 'pandas.core.series.Series'>

<b>iloc -</b> Allows us to retrieve data by position(index). It only uses integer locations value to make  selections unlike <b>loc</b>

In [82]:
d1

a    52
b    27
c    59
d    10
e    27
f    32
dtype: int64

In [84]:
print(d1.iloc[[0,2,4]])
print('-----------')
print(d1.iloc[3:])
print('-----------')
print(d1.iloc[:4])
print('-----------')
print(d1.iloc[2:3])
print('-----------')
print(type(d1.iloc[2:3]))

a    52
c    59
e    27
dtype: int64
-----------
d    10
e    27
f    32
dtype: int64
-----------
a    52
b    27
c    59
d    10
dtype: int64
-----------
c    59
dtype: int64
-----------
<class 'pandas.core.series.Series'>

<b>loc() -</b> Selects data by refering the explicit index.

In [87]:
print(d1)

a    52
b    27
c    59
d    10
e    27
f    32
dtype: int64

In [91]:
print(d1.loc['a'])
print('-------')
print(d1.loc[['a','b']])
print(d1.iloc[[2,3]])
# print(d1.iloc['a'])  # gives an error

52
-------
a    52
b    27
dtype: int64
c    59
d    10
dtype: int64

TypeError: Cannot index by location index with a non-integer key

In [93]:
d1.loc[3:]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [3] of <class 'int'>

In [96]:
d2 = pd.Series([11,12,13,14,15],index=[71,72,73,74,75])
d2

71    11
72    12
73    13
74    14
75    15
dtype: int64

In [95]:
d2.loc[71]

11

In [97]:
df = pd.read_excel("global_store.xlsx")  
df.head()

,Row ID,Order ID,Order Date,Segment,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,1,MX-2015-SC2057582-42279,2015-10-02,Consumer,Central America,Office Supplies,Labels,13.08,3,0.0,4.56,2.033,Medium
1,2,MX-2013-KW1657028-41562,2013-10-15,Consumer,South America,Furniture,Furnishings,252.16,8,0.0,90.72,13.449,Medium
2,3,MX-2013-KW1657028-41562,2013-10-15,Consumer,South America,Furniture,Bookcases,193.28,2,0.0,54.08,9.627,Medium
3,4,MX-2013-KW1657028-41562,2013-10-15,Consumer,South America,Office Supplies,Binders,35.44,4,0.0,4.96,1.371,Medium
4,5,MX-2013-KW1657028-41562,2013-10-15,Consumer,South America,Office Supplies,Art,71.60,2,0.0,11.44,3.787,Medium

In [100]:
s3 = pd.Series(df['Category']) 
s3.head(10)

0    Office Supplies
1          Furniture
2          Furniture
3    Office Supplies
4    Office Supplies
5    Office Supplies
6    Office Supplies
7         Technology
8    Office Supplies
9         Technology
Name: Category, dtype: object

In [102]:
print(s3.iloc[[2,3,7]])
print('--------------')
print(s3.loc[[12,13,17]])

2          Furniture
3    Office Supplies
7         Technology
Name: Category, dtype: object
--------------
12          Furniture
13    Office Supplies
17          Furniture
Name: Category, dtype: object

### Map

<p>Map values of Series according to input correspondence. It only works on a Series.
<br>
Used for substituting each value in a Series with another value, that may be derived from a function, a dict or a Series.</p>

In [103]:
s = pd.Series(['cat', 'dog', 'owl', 'rabbit'])
print(s)

0       cat
1       dog
2       owl
3    rabbit
dtype: object

In [104]:
s.map({'cat': 'kitten', 'dog': 'puppy','cow' : 'baby_cow', 'owl' : 'baby_owl'})

0      kitten
1       puppy
2    baby_owl
3         NaN
dtype: object

### Apply()  - works on both series and dataframe

In [105]:
s1 = pd.Series([20, 21, 12],index=['London', 'New York', 'Helsinki'])
s1

London      20
New York    21
Helsinki    12
dtype: int64

In [108]:
s1.apply(lambda x: x ** 2)

London      400
New York    441
Helsinki    144
dtype: int64

In [109]:
s1.apply(np.log)

London      2.995732
New York    3.044522
Helsinki    2.484907
dtype: float64