### Basics of sets

In [1]:
# Definition:-
#1) They are enlcosed in {} 
#2) Contains unique elements.
#3) indexing and slicing are not allowed on sets.
#4) Empty set define:-
#a) s = set()

In [23]:
a = [19,78,1,2,3,2,3,4,3,1,1,2,4,5,6,3,6,7,24,3,6,7]
b = set(a)
# sets holds unique elements of a list
c = list(b)
print(c)
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 78, 19, 24]
[19, 78, 1, 2, 3, 2, 3, 4, 3, 1, 1, 2, 4, 5, 6, 3, 6, 7, 24, 3, 6, 7]
{1, 2, 3, 4, 5, 6, 7, 78, 19, 24}

In [2]:
# print(b)

In [24]:
dir(b)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
# Set Functions:-
#  'add', -
#  'clear', -
#  'copy', -
#  'difference', -
#  'difference_update', -
#  'discard',
#  'intersection', -
#  'intersection_update', -
#  'isdisjoint',-
#  'issubset',-
#  'issuperset',-
#  'pop',-
#  'remove',-
#  'symmetric_difference', -
#  'symmetric_difference_update', -
#  'union', -
#  'update'
# '''

### Define an empty set

In [25]:
# empty list -> r1=[] or r2 = list()
# empty dictionary -> d1 ={} or d2 = dict()
# empty tuple -> t1= () or t2 = tuple()
f1 = set()
print(f1)

set()

### add() - inserts elements in the set

In [26]:
f1.add(3)
print(f1)

{3}

In [27]:
f1.add(5)
f1.add(17)
f1.add(-9.78)
f1.add(15.00)
f1.add(0)
print(f1)

{0, 3, 5, 15.0, 17, -9.78}

### copy() and clear()

In [28]:
print(f1)
f2 = f1.copy()
f1.clear()
print(f1)
print(f2)

{0, 3, 5, 15.0, 17, -9.78}
set()
{0, 17, 3, 5, -9.78, 15.0}

In [29]:
print(f2)

{0, 17, 3, 5, -9.78, 15.0}

In [31]:
set1 = {1,12,3,7,10,8}
set2 = {11,9,7,10,45,19} 
# union = {1,3,7,8,9,10,11,12,19,45}
# intesection ={7,10}

### union()

In [34]:
s3 = set1.union(set2)
print(s3)

{1, 3, 7, 8, 9, 10, 11, 12, 45, 19}

In [33]:
print(set1)
print(set2)

{1, 3, 7, 8, 10, 12}
{7, 9, 10, 11, 45, 19}

### intersection() - returns common elements for a given pair of sets
### intersection_update() - returns common elements for a given pair of sets and stores its value in the first set.

In [35]:
print(set1)
print(set2)

{1, 3, 7, 8, 10, 12}
{7, 9, 10, 11, 45, 19}

In [36]:
d1 = set1.intersection(set2)
print(d1)

{10, 7}

In [37]:
print(set1)
print(set2)

{1, 3, 7, 8, 10, 12}
{7, 9, 10, 11, 45, 19}

In [42]:
set1 = {1,12,3,7,10,8}
set2 = {11,9,7,10,45,19}
set1.intersection_update(set2)

In [44]:
print(set1)
print(set2)

{10, 7}
{7, 9, 10, 11, 45, 19}

### difference() = A-B
### difference_update()  = A-B stored in the first set

In [45]:
s1 = {1,2,4,5,-12,0,7,18}
s2 = {7,-11,-12,5,18,21}

In [47]:
s1.difference(s2)  # s1-s2

{0, 1, 2, 4}

In [48]:
s2.difference(s1)  # s2-s1

{-11, 21}

In [49]:
print(s1)
print(s2)

{0, 1, 2, 4, 5, 7, 18, -12}
{5, 7, 18, -12, -11, 21}

In [50]:
s1.difference_update(s2)

In [52]:
print(s1)
print(s2)

{0, 1, 2, 4}
{5, 7, 18, -12, -11, 21}

### symmetric_difference() = set1.union(set2) - set1.intersection(set2) 
### symmetric_difference_update() = set1.union(set2) - set1.intersection(set2) stored in set1

In [53]:
s3 = {1,2,3,4,5,6,7,8}
s4 = {2,4,6,8,10,12,14}
union_s3s4 = s3.union(s4)
intersection_s3s4 = s3.intersection(s4)
print(union_s3s4)
print(intersection_s3s4)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 14}
{8, 2, 4, 6}

In [54]:
t = s3.symmetric_difference(s4)
print(t)
# s3.union(s4) - s3.intersection(s4)

{1, 3, 5, 7, 10, 12, 14}

In [55]:
print(s3)
print(s4)

{1, 2, 3, 4, 5, 6, 7, 8}
{2, 4, 6, 8, 10, 12, 14}

In [56]:
s3.symmetric_difference_update(s4)

In [57]:
print(s3)
print(s4)

{1, 3, 5, 7, 10, 12, 14}
{2, 4, 6, 8, 10, 12, 14}

### pop() - Remove and return an arbitrary set element.

In [58]:
set3 = {'bat','sat','mat','hat','cat','rat'}
set3

{'bat', 'cat', 'hat', 'mat', 'rat', 'sat'}

In [62]:
set3.pop()

'bat'

In [63]:
set3

{'hat', 'mat', 'rat', 'sat'}

In [65]:
s4 = {2,4,6,8,10,12,14}
s4.pop()
print(s4)

{4, 6, 8, 10, 12, 14}

In [66]:
s4.pop()
print(s4)

{6, 8, 10, 12, 14}

In [67]:
s4.pop(8)

TypeError: pop() takes no arguments (1 given)

### remove() - removes an element from the set by its value and returns error if that value is not a member of the set
### discard() - remove an element from the set by its value and does nothing otherwise

In [69]:
s4 = {2,4,6,8,10,12,14}
print(s4)
s4.remove(10)
print(s4)

{2, 4, 6, 8, 10, 12, 14}
{2, 4, 6, 8, 12, 14}

In [70]:
s4.remove(5)

KeyError: 5

In [71]:
s5 ={1,2,3,4,5,6,7,8,9,10}
print(s5)
s5.discard(9)
print(s5)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [72]:
s5.discard(13)

### issubset() - returns true/false

In [74]:
sd1 = {11,12,13,14,15,16,17,18,19,21}
sd2 = {13,16,19,15}
sd3 = {1,3,4,6,9}

In [43]:
print(sd2.issubset(sd1))
print(sd2.issubset(sd3))

True
False

In [75]:
print(sd1)
print(sd2)
print(sd3)

{11, 12, 13, 14, 15, 16, 17, 18, 19, 21}
{16, 19, 13, 15}
{1, 3, 4, 6, 9}

### isdisjoint() - Returns True if sets have no element in common otherwise False

In [77]:
print(sd2.isdisjoint(sd3))
print(sd1.isdisjoint(sd2))

True
False

### issuperset() - Retruns True/False

In [79]:
print(sd1)
print(sd2)
print(sd3)
print(sd1.issuperset(sd2))
print(sd1.issuperset(sd3))
print(sd2.issuperset(sd3))

{11, 12, 13, 14, 15, 16, 17, 18, 19, 21}
{16, 19, 13, 15}
{1, 3, 4, 6, 9}
True
False
False

### update() - Updates a set with the union of itself and others. Same as union() but can take multiple sets as its agrument.

In [80]:
s6 = {21,22,23,24,25,26,27,28}
s7 = {31,25,28,24,40}
s8 = {1,2,-13,89}
s9 = {50,51,52}

In [81]:
s6.update()

In [82]:
print(s6)

{21, 22, 23, 24, 25, 26, 27, 28}

In [83]:
s6.update(s7)

In [84]:
print(s6)

{40, 21, 22, 23, 24, 25, 26, 27, 28, 31}

In [85]:
s6.update(s8,s9)

In [86]:
print(s6)

{89, 1, 2, 40, 50, -13, 51, 21, 22, 23, 24, 25, 26, 27, 28, 52, 31}

In [90]:
w1 = {11,13,34,56,78,98,90}
print(len(w1))
print(w1[1:5])

7

TypeError: 'set' object is not subscriptable

In [88]:
# Iteration in sets
for i in w1:
    print(i)

34
98
11
13
78
56
90

In [91]:
for i in range(len(w1)):
    print(w1[i])

TypeError: 'set' object is not subscriptable

In [92]:
print(w1)
del w1

{34, 98, 11, 13, 78, 56, 90}

In [93]:
print(w1)

NameError: name 'w1' is not defined

In [94]:
ss1= {1,2,3,4,5,6,7,8,9}
print(ss1[4])

TypeError: 'set' object is not subscriptable

In [95]:
s1 ={20,30,17,87,13,45,39,67,32,50}
print(max(s1))
print(min(s1))
print(sum(s1))

87
13
400

### Set Comprehension

In [96]:
list1 = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7] 
  
set1 = set() 
for i in list1: 
    if i % 2 == 0: 
        set1.add(i)
print(set1)

{2, 4, 6}

In [98]:
list1 = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]
s1 = {i for i in list1 if (i%2==0)}
print(s1)

{2, 4, 6}

In [103]:
# WAF to check if a number is palindrome. 
# Note - Do not use this method in interviews
n= 12321
s = str(n)
print(s)
# print(type(s))
if(s == s[::-1]):
    print('Palindrome no.')
else:
    print('Not a Palindrome no.')

12321
<class 'str'>
Palindrome no.

<ol>
<li>WAF to find common elements in three given lists and display result in a list</li>
</ol>

In [15]:
def common(a1,a2,a3): 
    s1 = set(a1) 
    s2 = set(a2) 
    s3 = set(a3) 
    s4 = s1.intersection(s2)          
    res= s4.intersection(s3) 
    final_list = list(res) 
    print(final_list)

In [18]:
b1 = [1,2,3,4,5,6,7,8]
b2 = [4,5,6,7,8,9,10,11]
b3 = [1,3,7,8,11,12,13,14]
common(b1,b2,b3)

[8, 7]