### 1) zip - used to merge two lists

In [52]:
n1 = [1,2,3,4,5,6,7,8,9]
n2 = [34,56,39,89,16,39,90]
print(len(n1),len(n2))
res = list(zip(n1,n2))
print(type(res))
print(res)

9 7
<class 'list'>
[(1, 34), (2, 56), (3, 39), (4, 89), (5, 16), (6, 39), (7, 90)]

In [53]:
for i,j in res:
    if(j%3==0):
        print(f'{i}')
    elif(i%3==0):
        print(f'{j}')

3
6
7

### 2) enumerate - adds an index to a preexitsing iterator operator

In [60]:
l3 =[2,14,16,18,20,22,24]
for i,j in enumerate(l3):
    print(i,j)

0 2
1 14
2 16
3 18
4 20
5 22
6 24

In [1]:
l3 =[2,14,16,18,20,22,24]
for i,j in enumerate(l3):
    print(i)

0
1
2
3
4
5
6

In [2]:
l3 =[2,14,16,18,20,22,24]
for i,j in enumerate(l3):
    print(j)

2
14
16
18
20
22
24

### 3) map function - The map() function calls the specified function for each item of an iterable (such as string, list, tuple or dictionary) and returns a list of results.

In [61]:
def sq(x):
    return x*x

In [72]:
d1 = [1, 2, 3, 4, 5]
res = map(sq, d1)
print(res)
print(type(res))

<map object at 0x00000195D77DC198>
<class 'map'>

In [71]:
for i in res:
    print(i)

1
4
9
16
25

In [73]:
print(next(res))
print(next(res))
print(next(res))
print(next(res))
print(next(res))

1
4
9
16
25

In [76]:
# Accept three values from user
x,y = map(float,input().split())
print(x)
print(y)
# print(z)

12.34 56.78
12.34
56.78

In [77]:
# Accept a list from the user
x = list(map(int,input().split()))
print(x)
print(type(x))

12 13 14 15 16 17
[12, 13, 14, 15, 16, 17]
<class 'list'>

In [78]:
# Accept a tuple from the user 
x = tuple(map(int,input().split()))
print(x)
print(type(x))

1 2 3 4 5
(1, 2, 3, 4, 5)
<class 'tuple'>

In [79]:
# Accept a set from the user
x = set(map(int,input().split()))
print(x)
print(type(x))

3 5 7 9
{9, 3, 5, 7}
<class 'set'>

In [80]:
### Accept a dictionary from the user
class_list = {}
for i in range(5):
    data = input('Enter name & score separated by ":" ')
    temp = data.split(':')
    class_list[temp[0]] = int(temp[1])
     
# Displaying the dictionary
for i in class_list.items():
    print(i)

Enter name & score separated by ":" John:56
Enter name & score separated by ":" Mahesh:75
Enter name & score separated by ":" Mark:87
Enter name & score separated by ":" Jyoti:89
Enter name & score separated by ":" Dinesh:94
('John', 56)
('Mahesh', 75)
('Mark', 87)
('Jyoti', 89)
('Dinesh', 94)

### 4) lambda function - function without a name that works exactly like a function

<p>Syntax:-  lambda argument(s): expression</p>
<br>
Lambda functions are used when you need a function for a short period of time. This is commonly used when you want to pass a function as an argument to higher-order functions, that is, functions that take other functions as their arguments.

In [1]:
d1 = [1,2,3,4,5]
print(d1)

[1, 2, 3, 4, 5]

In [4]:
sqr_list = map(lambda a: a**3, d1)
sqr_list
print(type(sqr_list))

<class 'map'>

In [3]:
print(next(sqr_list))
print(next(sqr_list))
print(next(sqr_list))
print(next(sqr_list))
print(next(sqr_list))

1
8
27
64
125

In [5]:
for i in sqr_list:
    print(i)

1
8
27
64
125

### 5) Filter function - Return an iterator yielding those items of iterable for which function(item) is true. If function is None, return the items that are true.

In [7]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x%2 == 0) , my_list))
print(new_list)

[4, 6, 8, 12]

In [8]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x: x > 4, sequences) 
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [9]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map (lambda x: x*x, sequences) 
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

### 6) Reduce function - Apply a function of two arguments cumulatively to the items of a sequence, from left to right, so as to reduce the sequence to a single value.

In [10]:
from functools import reduce

li = [5, 8, 10, 20, 50, 100] 
add = reduce((lambda x, y: x + y), li) 
print(add)

193

In [11]:
x = reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
print(x)

15

### 7) eval()

In [82]:
print(5*4)

20

In [84]:
n = input('Enter a string ')
eval(n)

Enter a string print('This functions prints python code')
This functions prints python code

### 8) join()

In [94]:
list1 = ['1','2','3','4']  
s = " ** "
r1 = s.join(list1)
print(r1)

# print(type(res))
res = ''.join(list1)
print(res)

1 ** 2 ** 3 ** 4
1234

### 9) *args - It is used to pass a variable-length argument list.

In [95]:
def my_sum(a, b):
    return a + b

In [96]:
my_sum(6,7)

13

In [103]:
def my_sum(*google):
    result = 0
    for x in google:
        result += x
    print(result)
    print(type(google))

In [104]:
my_sum(10,20,30,4,5,6,7,8,9)

99
<class 'tuple'>

In [105]:
def my_prod(*num):
    result = 1
    for x in num:
        result *= x
    return result

In [106]:
my_prod(5,4,2,7)

280

In [108]:
def details(name,*marks):
    print(name)
    print(marks)

In [109]:
details('Vineet',45,34,67,89,91)

Vineet
(45, 34, 67, 89, 91)

In [110]:
details('Vineet')

Vineet
()

In [111]:
def myFun(*num):  
    for arg in num:  
        print(arg)

In [112]:
myFun(23, 45, 65, 78, 80,90,100)

23
45
65
78
80
90
100

### 10) **kwargs - It builds a dictionary of key-value pair

In [113]:
def f1(**d1):
    for key in d1:
        print(f'{key} : {d1[key]}')

In [114]:
f1(name='Vinod',age=23,Dept='IT',Salary=45000)

name : Vinod
age : 23
Dept : IT
Salary : 45000